.header {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.25rem;
  color: #321775;
  font-weight: 550;
}

.lines {
  width: 6rem;
  height: 0.2rem;
  background-color: #321775;
  position: relative;
}

.lines::before {
  content: "";
  width: 2rem;
  height: 0.5rem;
  background-color: #321775;
  position: absolute;
  top: 10px;
}

.lines::after {
  content: "";
  width: 0.75rem;
  height: 0.5rem;
  background-color: #321775;
  position: absolute;
  top: 10px;
  left: 2.5rem;
}

.text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 0.8rem;
  width: 65%;
  color: #321775;
  font-weight: 550;
  margin-bottom: 1.25rem;
}

.socialMedia {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialMedia span {
  transition: all 0.5s;
  color: #321775;
  cursor: pointer;
}

.socialMedia span:hover {
  transform: scale(1.5);
}

.socialMedia span:nth-child(1):hover {
  color: #1da1f2;
}

.socialMedia span:nth-child(2):hover {
  color: #e1306c;
}

.socialMedia span:nth-child(3):hover {
  color: #ff2952;
}

.socialMedia span:nth-child(4):hover {
  color: #4267b2;
}

.imageContainer {
  flex-basis: 55%;
}

.styledButton {
  width: 7.5rem;
  height: 2.25rem;
  padding: 0.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  color: #ddd;
  background: linear-gradient(45deg, #724ecc 60%, #ddd);
  cursor: pointer;
  transition: font-size 0.5s;
}

.styledButton:hover {
  font-size: 1.01rem;
}

.customMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.homeImage {
  width: 400px;
  object-fit: cover;
  filter: drop-shadow(0 0 1rem rgba(0,0,0,0.5));
}

@media only screen and (min-width: 600px) {
  .homeImage {
    width: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 3rem;
  }
  .homeImage {
    width: 700px;
  }
  .styledButton{
    width: 10rem;
    height: 3rem;
  }
}

@media only screen and (min-width: 900px){
  .homeImage {
    width: 550px;
    position: relative;
    left: 50%;
    transform: translateX(-30%);
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    font-size: 4rem;
  }
}
